@font-face {
    font-family: 'Misto';
    src: url('fonts/Misto.eot');
    src: url('fonts/Misto.eot') format('embedded-opentype'),
         url('fonts/Misto.woff2') format('woff2'),
         url('fonts/Misto.woff') format('woff'),
         url('fonts/Misto.ttf') format('truetype'),
         url('fonts/Misto.svg#Misto') format('svg');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Misto'; 
}
.body {
    width: 100%;
    height: 100vh;
    background-color: #373737;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(
        -45deg, 
        #fab7a3, 
        #f893b9, 
        #84d9f8, 
        #6ff8d8
        );
        background-size: 200% 200%;
        animation: gradient 15s ease infinite;
    box-sizing: border-box;
    border: 1px solid red;
}
.h1{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    opacity: 0.4;
}
.chrono{
    min-height: 6.5rem;
    width: 100%;
    font-size: 6rem;
    line-height: 100px;
    opacity: 0.1;
    text-align: center;
}
.stroke-text{
    padding-top: 2rem;
    opacity: 0.2;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
}
.slider, .slider-two{
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.container-span-r{
    width: 80%;
    max-width: 320px;
    height: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0.6rem auto;
    letter-spacing: 0.05rem;
}
.btn-slider, .btn-slider-two {
    -webkit-appearance: none;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
    height: 6px;
    border-radius: 5px;
    background: #FFFFFF;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.btn-slider-two{
    width: 80%;
    max-width: 280px;
}
.span-r{
    opacity: 0.8;
    font-size: 1.2rem;
}
.slider-opacity{
    font-size: 0.6rem;
    opacity: 0.2;
}
.btn-slider:hover, .btn-slider-two:hover {
    opacity: 0.7; 
}
.ring{
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0.3;
}

.choiceTimeBeat{
    min-height: 18rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.paused {
    animation-play-state: paused;
}

.buttons{
    height: 6rem;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.5rem 0 1.5rem 0;

}
.btn{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.6;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -3px -3px 20px rgba(255, 255, 255, .4),
                -6px -6px 10px rgba(255, 255, 255, .3),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
}
.btn:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
}
.btn:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
}
.label-btn-slider{
    display: block;
}
.slide-container {
    width: 300px;
}
.label{
    opacity: 0.4;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}


.btn-slider::-webkit-slider-thumb, .btn-slider-two::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 32px;
    border: 0;
    background-image: url('img/logo-short-cream.svg');
    background-color: transparent;
    box-shadow: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn-slider::-moz-range-thumb, .btn-slider-two::-moz-range-thumb {
    width: 30px;
    height: 32px;
    border: 0;
    background-image: url('img/logo-short-cream.svg');
    background-color: transparent;
    box-shadow: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.hide{
    opacity: -1;
    z-index: -1;
}
@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
@keyframes gradient {
    0% { background-position: 10% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 10% 50%; }
}
.respire-55{
    animation: respire_55 10s linear infinite;
    transform-origin: center;
}
@keyframes respire_55{
    0%{
        scale: 1;
        transform-origin: left top;
    }
    50%{
        scale: 2;
        transform-origin: left top;
    }
    100%{
        scale: 1;
        transform-origin: left top;
    }
}
.respire-46{
    animation: respire_46 10s linear infinite ;
}
@keyframes respire_46{
    0%{
        scale: 1;
        transform-origin: left top;
    }
    40%{
        scale: 2;
        transform-origin: left top;
        border: 10px solid #000;
    }
    100%{
        scale: 1;
        transform-origin: left top;
    }
}
.respire-64{
    animation: respire_64 10s linear infinite ;
}
@keyframes respire_64{
    0%{
        scale: 1;
        transform-origin: left top;
    }
    60%{
        scale: 2;
        transform-origin: left top;
        border: 10px solid #000;
    }
    100%{
        scale: 1;
        transform-origin: left top;
    }
}
@media screen and (min-width: 24rem) {
    .h1{
        font-size: 1.6rem;
    }
    .span-r{
        opacity: 1;
        font-size: 1.2rem;
    }
    .slider-opacity{
        font-size: 0.8rem;
        opacity: 0.2;
    }
}
@media screen and (min-width: 30rem) {
    .h1{
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 36rem) {
    .h1{
        font-size: 2.5rem;
    } 
    .chrono{
        font-size: 8rem;
    }
    .container{
        max-height: 46rem;
        border-radius: 5rem;
        border-radius: 5rem;
        -webkit-box-shadow: 9px 9px 32px 10px #000000; 
        box-shadow: 9px 9px 32px 10px #000000;
    } 
    .span-r{
        opacity: 1;
        font-size: 1.4rem;
    }
    .slider-opacity{
        font-size: 1rem;
        opacity: 0.2;
    }
}