@use '../var';

.chrono{
    min-height: 6.5rem;
    width: 100%;
    font-size: 6rem;
    line-height: 100px;
    opacity: 0.1;
    text-align: center;
    &__stroke-text{
        padding-top: 2rem;
        opacity: 0.2;
        color: transparent;
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
    }
    @media screen and (min-width: 36rem) {
        font-size: 8rem;
    }
}